@font-face {
	font-family:'DINNextLTPro-Medium';
	src:url('../font/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/DINNextLTPro-Medium.otf') format('opentype'),
		url('../font/DINNextLTPro-Medium.woff') format('woff'),
		url('../font/DINNextLTPro-Medium.ttf') format('truetype'),
		url('../font/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'DINNextLTPro-Light';
	src:url('../font/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/DINNextLTPro-Light.otf') format('opentype'),
		url('../font/DINNextLTPro-Light.woff') format('woff'),
		url('../font/DINNextLTPro-Light.ttf') format('truetype'),
		url('../font/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'DINNextLTPro-Bold';
	src:url('../font/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/DINNextLTPro-Bold.otf') format('opentype'),
		url('../font/DINNextLTPro-Bold.woff') format('woff'),
		url('../font/DINNextLTPro-Bold.ttf') format('truetype'),
		url('../font/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
	font-weight:normal;
	font-style:normal
}
body {
	color:#fff;
	font-family:'DINNextLTPro-Light';
	font-size:18px;
	background-image:url('../img/fondo.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fondo.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fondo.jpg', sizingMethod='scale')";
}
strong {
	font-family:'DINNextLTPro-Bold'
}
header, footer {
	position:fixed;
	width:100%
}
header {
	top:0
}
.compartir {
	margin-bottom:0!important;
	margin-top:10px
}
footer {
	background-color:#fff;
	bottom:0
}
footer p {
	color:#0254a0;
	font-family:Arial;
	font-size:9px;
	margin:8px 0 4px
}
footer img {
	margin-bottom:5px
}
input {
	border:none;
	color:#000;
	font-size:28px;
	line-height:50px;
	width:232px;
	text-align:center
}
input[type="file"] {
	font-size:14px;
	line-height:14px;
	width:308px
}
label {
	margin:90px 0 50px
}
.jumbotron {
	background:none;
	position:absolute;
	top:50%;
	left:50%;
	padding-bottom:0!important;
	padding-top:0!important;
	margin-bottom:0!important
}
#inicio {
	height:432px;
	margin-left:-212px;
	margin-top:-216px;
	width:423px
}
#subirVideo {
	height:580px;
	margin-left:-279px;
	margin-top:-290px;
	width:557px
}
#mensaje {
	margin-left:-279px;
	margin-top:-175px;
	width:557px;
	height:350px
}
.container {
	position:relative
}
.marco {
	background-color:#fff;
	padding:17px 28px 24px;
	max-width:555px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-radius-bottomright:40px;
	border-bottom-right-radius:40px;
}
.marco p {
	color:#03539f;
	font-size:16px;
	line-height:18px;
	margin:15px 0 0
}
.marco .botones {
	margin-top:10px;
	width:387px
}
#subirVideo p {
	text-align:center;
	margin:8px 0 6px
}
.paso-1, .paso-2 {
	position:relative
}
.tyc {
	background-image:url('../img/tyc.jpg');
	background-repeat:no-repeat;
	color:#03539f;
	cursor:pointer;
	display:inline-block;
	font-size:11px;
	height:28px;
	margin-top:15px!important;
	padding-left:18px;
	width:170px!important;
	letter-spacing:-0.5px
}
.tyc.ok {
	background-image:url('../img/tyc-ok.jpg');
}
.tyc a {
	font-family:'DINNextLTPro-Medium'
}
.progreso {
	background-image:url('../img/ajax-loader.gif')!important;
	background-position:center center;
	background-repeat:no-repeat;
	background-color:transparent!important;
	margin-top:0!important;
	width:174px!important;
	height:18px
}
.progreso div {
	background-color:#03539f;
	height:18px;
	margin-top:0!important;
	width:auto
}
#progress-status {
	background:transparent;
	width:174px!important;
	height:18px;
	font-size:14px;
	line-height:19px;
	text-align:center
}
.archivo {
	font-family:'DINNextLTPro-Medium';
	color:#03539f;
	position:absolute;
	width:210px!important;
	height:18px;
	font-size:11px;
	bottom:0;
	left:0
}
.titulo {
	color:#fd6e04!important;
	font-family:'DINNextLTPro-Bold';
	text-transform:uppercase;
	border-bottom:1px solid #fd6e04;
	border-top:1px solid #fd6e04;
	margin:22px 0!important;
	line-height:34px!important
}
.big {
	font-size:20px
}
h2 {
	color:#fd6e04!important;
	font-family:'DINNextLTPro-Bold';
	font-size:24px;
	margin:8px 0 0!important
}
h3 {
	color:#fd6e04!important;
	font-family:'DINNextLTPro-Bold';
	font-size:20px;
	margin:8px 0 0!important
}
form {
	margin-top:6px;
	height:0;
	opacity:0;
	overflow:hidden
}
.ie form {
	height:auto!important;
	opacity:1!important;
	filter:alpha(opacity=100)!important;
	overflow:visible!important
}
#botonSubir {
	cursor:pointer
}
.procesando {
	background-image:url('../img/loader.gif');
	background-position:97% 50%;
	background-repeat:no-repeat
}

@media (max-width:767px) {
	#inicio {
		position:static;
		height:inherit;
		margin-left:0;
		margin-top:40%;
		width:inherit
	}
	#rs_facebook, #rs_twitter {
		right:0;
		position:absolute
	}
	#rs_facebook {
		top:8px
	}
	#rs_twitter {
		top:45px
	}
	.logo {
		width:62px
	}
	.compartir {
		margin-top:3px
	}
	header {
		z-index:10
	}
	footer p {
		font-size:9px;
		margin:3px 0 5px
	}
	label {
		white-space:inherit;
		margin:20px 0
	}
	input {
		font-size:20px;
		line-height:34px
	}
	.marco {
		padding:10px 0 0
	}
	.marco p {
		font-size:12px;
		padding:0 18px
	}
	.marco .botones {
		width:100%
	}
	h2 {
		font-size:16px
	}
	input[type="file"] {
		width:100%
	}
	.tyc {
		margin-top:8px!important;
		width:49%!important
	}
	.elegirArchivo {
		width:49%!important
	}
	.paso-1, .paso-2 {
		margin-top:4px;
		margin-bottom:8px
	}
	.form-group {
		margin-bottom:0
	}
	.archivo {
		width:100%!important;
		position:inherit;
		white-space:nowrap;
		display:block!important;
		overflow:hidden;
		margin:3px 0
	}
	.progreso, #confirmar {
		width:49%!important
	}
	.progreso {
		height:29px
	}
}